extends layouts/main-layout.pug
block content 
    .home
        .home-top
            .home-top__inner.intro
                p Hi - I am Praise Omogbemeh. I am a programmer learning and building stuff on the web. 
            .home-top__inner.middle
                p
                    | Here's a look at some  
                    a(href='/projects') projects 
                    | I have  done in the past. You can also check out some of my writings on my 
                    a(href='/blog') blog 
            .home-top__inner.contact
                p
                    | You can contact me at 
                    a(href='mailto:onosithena@gmail.com') onosithena@gmail.com

        .home-bottom  
            img.name(src='/static/images/omogbemeh.svg')