mixin construction()
    .construction
        img.constructionImage(src="/static/images/construction.svg", alt="Page is under construction", srcset="")
        p.redirectHome
            | Go back 
            a(href='/home') Home